@use "../utils/" as *;

.flowering {
  padding: 2% 5%;
  &__container {
    .flowering__title {
      display: flex;
      justify-content: space-between;

      &--first {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        p {
          color: gray;
        }
      }

      &--second {
        button {
          cursor: pointer;
          border: none;
          background-color: $green;
          color: white;
          padding: 8px 16px;

          transition: all 0.25s ease-in-out;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }

    &--cards {
      &__card {
        width: 20rem;
        &--img {
          position: relative;

          img {
            height: 20rem;
            width: 20rem;
            cursor: pointer;
          }
          transition: all 0.25s ease-in-out;
        }
        overflow: hidden;

        &:hover {
          .flowering__dropdown {
            position: absolute;
            visibility: visible;
            animation: fadeInFlower 0.5s ease forwards;
            // right: 0;
          }
        }

        &:not(:hover) {
          .flowering__dropdown {
            animation: fadeOutFlower 0.5s ease forwards;
          }
        }

        .flowering__dropdown {
          position: absolute;
          visibility: visible;
          display: flex;
          flex-direction: column;
          padding: 1rem;
          top: 0;
          right: -80px;

          button {
            cursor: pointer;
            padding: 8px 16px;
            background-color: white;
            border: none;
          }
        }

        &--content {
          display: flex;
          flex-direction: column;
          align-items: center;

          button {
            cursor: pointer;
            border: none;
            padding: 8px 16px;
            background-color: $green;
            color: white;
            transition: all 0.25s ease-in-out;
            &:hover {
              opacity: 0.9;
            }
          }
          &__price {
            color: $green;
          }
        }
      }
    }
  }
}

@keyframes fadeInFlower {
  from {
    opacity: 0;
    right: -80px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}

@keyframes fadeOutFlower {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 0;
    right: -80px;
  }
}
