@use "../utils/" as *;

.view {
  padding: 2% 4%;

  &__container {
    &--title {
      font-size: 22px;
      margin-bottom: 1rem;
      font-weight: 600;
    }
    padding-bottom: 5rem;
    border-bottom: 2px solid $green;

    &--cards {
      &__card {
        width: 15rem;
        &--img {
          cursor: pointer;
          height: 15rem;
          width: 15rem;
          img {
            object-fit: cover;
            height: 15rem;
            width: 15rem;
          }
          overflow: hidden;
          position: relative;
          &__overlay {
            // visibility: hidden;
            display: flex;
            padding: 1rem;
            height: 100%;
            width: 100%;
            justify-content: space-between;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            bottom: -200%;
            opacity: 0;
            transition: all 0.25s ease-in-out;

            &--first {
              display: flex;
              color: white;
              align-items: center;
              gap: 0.5rem;
              bottom: 20px;
              position: absolute;
            }
            &--second {
              color: white;
              display: flex;
              align-items: center;
              gap: 0.5rem;
              right: 20px;
              bottom: 20px;
              position: absolute;
            }
          }
          transition: all 0.25s ease-in-out;
          &:hover {
            .view__container--cards__card--img__overlay {
              opacity: 1;
              bottom: 0;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

.totoptag {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99999;
}

.ttop {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  background-color: white;
  height: 3rem;
  width: 3rem;
}
