.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  ul {
    list-style: none;
  }

  &__start {
    ul {
      display: flex;
      gap: 1rem;
      li {
        &:first-child {
          display: flex;
          gap: 0.2rem;
          span {
            display: flex;
            align-items: center;
            font-size: 11px;
            color: gray;
          }
        }
      }
    }
  }

  &__logo {
    svg {
      height: 2rem;
    }
  }
}
