@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.gold {
  color: gold;
}

.responsive-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: #f6f3ed;
}

.navbar {
  display: flex;
  background-color: #f6f3ed;
  z-index: 999;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
  position: fixed;
  top: 0;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  transition: all 0.25s ease-in-out;
  height: 3rem;
}
.navbar ul li:hover {
  color: gray;
}
.navbar ul li:hover h5 {
  color: black;
}
.navbar__hover li:hover {
  opacity: 0.8;
}
.navbar__start ul:first-child {
  display: flex;
  gap: 1rem;
}
.navbar__start ul:first-child li {
  cursor: pointer;
  margin-top: 1rem;
}
.navbar__start ul:first-child li:first-child {
  display: flex;
  gap: 0.2rem;
}
.navbar__start ul:first-child li:first-child:hover .navbar__hover {
  display: flex;
  visibility: visible;
  opacity: 2;
  animation: fade-in 0.2s ease forwards;
}
.navbar__start ul:first-child li:first-child:not(:hover) .navbar__hover {
  display: flex;
  animation: fade-out 0.5s ease forwards;
}
.navbar__start ul:first-child li:first-child span {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-size: 11px;
  color: gray;
}
.navbar__hover {
  opacity: 1;
  z-index: 999;
  visibility: hidden;
  position: absolute;
  top: 6rem;
  background-color: white;
  width: 200rem;
  transform: translateX(-60rem);
  height: 15rem;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  cursor: default;
}
.navbar__hover--img {
  height: 7rem;
  width: 5rem;
  border-radius: 4rem;
}
.navbar__hover--img img {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 4rem;
}
.navbar__hover li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar__logo svg {
  height: 2rem;
}
.navbar__end ul {
  display: flex;
  gap: 1rem;
}
.navbar__end ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}
.modal-content .shopping__cart {
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#cartItems {
  height: 70%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #5e6821 #729762;
}
#cartItems ::-webkit-scrollbar-track {
  background-color: #404040;
}
#cartItems ::-webkit-scrollbar-thumb {
  background-color: #737272;
  border-radius: 10px;
  border: 1px solid #000;
  width: 2px !important;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 1rem;
}
.cart-item img {
  object-fit: cover;
  height: 7rem;
  width: 7rem;
}
.cart-item__first {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cart-item div button {
  cursor: pointer;
  width: 7rem;
  background-color: #5e6821;
  color: white;
  padding: 4px 8px;
  border: none;
  border-radius: 0.8rem;
}

.cash {
  position: absolute;
  bottom: 10px;
  width: 90%;
}
.cash__total {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  justify-content: space-between;
}
.cash__total--subtotal {
  color: #5e6821;
}
.cash__buttons {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.cash__buttons--view {
  background-color: #212529;
  transition: all 0.25s ease-in-out;
}
.cash__buttons--view:hover {
  background-color: #000;
}
.cash__buttons--check {
  background-color: #5e6821;
  transition: all 0.25s ease-in-out;
}
.cash__buttons--check:hover {
  background-color: #12372a;
}
.cash__buttons button {
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  color: white;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-60rem, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-60rem, 0);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(-60rem, 0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60rem, -20px);
  }
}
.introduction {
  padding: 10% 7.5%;
}
.introduction__card {
  height: 43rem;
  display: flex;
  padding: 4rem;
  border-top: 2px solid #5e6821;
  border-bottom: 2px solid #5e6821;
  gap: 2rem;
}
.introduction__card--list {
  display: flex;
  align-items: center;
  width: 60rem;
}
.introduction__card--list::after {
  content: "";
  display: block;
  margin-left: 5rem;
  height: 100%;
  width: 2px;
  background-color: #5e6821;
}
.introduction__card--list ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  font-size: 30px;
}
.introduction__card--list ul li {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.introduction__card--list ul li:hover {
  color: #5e6821;
}
.introduction__card--list ul li i {
  transform: rotate(45deg);
}

.swiper {
  width: 150rem;
  height: 100%;
  cursor: grab;
}
.swiper__content {
  position: absolute;
  display: flex;
  padding: 1.3rem;
  text-align: start;
  flex-direction: column;
  gap: 1rem;
  width: 30rem;
  bottom: 10px;
  left: 0;
  color: white;
}
.swiper__content p {
  font-size: 12px;
}
.swiper__content button {
  padding: 8px 16px;
  width: 9rem;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  color: white;
  background-color: #565f1e;
}
.swiper__content button:hover {
  opacity: 0.9;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  width: 150rem;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.products__title {
  margin-left: 4rem;
  font-size: 22px;
}

.productSwiper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slider {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: all 0.25s ease-in-out;
}
.slider button {
  cursor: pointer;
  padding: 8px 8px;
  color: white;
  border: none;
  background-color: #5e6821;
}
.slider button:nth-child(2) {
  color: red;
}
.slider__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.slider__content i {
  color: #eabe12;
}
.slider__content button {
  z-index: 900;
  cursor: pointer;
  overflow: hidden;
  height: 2rem;
  text-align: center;
  padding: 3px;
}
.slider__content button:hover {
  opacity: 0.9;
}
.slider__content button:hover .product__button--add {
  display: none;
}
.slider__content button:hover .product__button--shop i {
  transform: translateY(0);
  animation: fade-in-products-button 0.5s ease forwards;
}
.slider__content button:not(:hover) .product__button--shop i {
  transform: translateY(-50px);
  animation: fade-out-products-button 0.5s ease forwards;
}
.slider__image {
  position: relative;
  width: 100%;
}
.slider__image--discount {
  position: absolute;
  width: 4rem;
  background-color: white;
  top: 2rem;
}
.slider__image--date {
  position: absolute;
  width: 4rem;
  background-color: white;
  top: 4rem;
}
.slider__dropdown {
  display: flex;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  transition: all 0.25s ease-in-out;
  flex-direction: column;
  position: absolute;
  top: 10px;
  right: 10px;
}
.slider__dropdown button {
  cursor: pointer;
  background-color: white;
  color: black;
}
.slider:hover .slider__dropdown {
  display: flex;
  opacity: 1;
  visibility: visible;
  animation: fade-in-products 0.5s ease forwards;
}
.slider:not(:hover) .slider__dropdown {
  animation: fade-out-products 0.5s ease forwards;
}

.product__button--shop i {
  transform: translateY(20px);
}

.product__price {
  color: #5e6821;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f6f3ed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fade-in-products {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-out-products {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
@keyframes fade-in-products-button {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-out-products-button {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-40px);
  }
}
.product {
  position: relative;
}

.products__panel {
  background: linear-gradient(to bottom right, rgb(94, 104, 33), rgba(94, 104, 33, 0.5), rgba(94, 104, 33, 0));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.products__panel--title {
  font-size: 24px;
  font-weight: 500;
}
.products__panel--inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.products__panel--inputs input {
  border-radius: 0.5rem;
  border: 1px solid #e3e3e3;
  padding: 8px 16px;
  outline: none;
  width: 50rem;
}
.products__panel button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 0.8rem;
  border: none;
  color: white;
  background-color: #5e6821;
}

.plants {
  margin-top: 3rem;
}
.plants__container {
  align-items: center;
  flex-direction: column;
}
.plants__container--title {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}
.plants__container--cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.plants__container--cards__card {
  cursor: pointer;
  position: relative;
}
.plants__container--cards__card--video {
  position: relative;
  width: 400px;
  height: 500px;
  overflow: hidden;
}
.plants__container--cards__card--video video {
  width: 400px;
  object-fit: cover;
  height: 500px;
}
.plants__container--cards__card--video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.plants__container--cards__card--content {
  color: white;
  padding: 1rem;
  position: absolute;
  bottom: 10px;
}
.plants__container--cards__card--content h5 {
  color: gray;
}
.plants__container--cards__card--content button {
  cursor: pointer;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

.explore {
  margin-top: 3rem;
  padding: 2% 3%;
  background: linear-gradient(to bottom, #5f6921 60%, #f6f3ed 40%);
}
.explore__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.explore__container--title {
  width: 48rem;
  color: white;
}
.explore__container--title h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 50px;
}
.explore__container--title__flower {
  width: 145px;
  height: 60px;
  background-image: url("https://woodmart.xtemos.com/plants/wp-content/uploads/sites/12/2023/05/ps-top-min-1.png.webp");
  background-repeat: no-repeat;
}
.explore__container--title__plant {
  width: 145px;
  height: 60px;
  background-image: url("https://woodmart.xtemos.com/plants/wp-content/uploads/sites/12/2023/05/ps-top-min-2.png.webp");
  background-repeat: no-repeat;
}
.explore__container--title__plant--second {
  width: 145px;
  height: 60px;
  background-image: url("https://woodmart.xtemos.com/plants/wp-content/uploads/sites/12/2023/05/ps-top-min-3.png");
  background-repeat: no-repeat;
}
.explore__container--cards {
  display: flex;
  gap: 2rem;
  width: 100%;
}
.explore__container--cards__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  height: 30%;
  width: 30rem;
  padding: 2rem 2rem;
  background-color: #e7e5d9;
}
.explore__container--cards__card--title {
  font-size: 26px;
}
.explore__container--cards__card--author {
  border-top: 2px solid #5e6821;
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
}
.explore__container--cards__card--author p {
  color: gray;
}
.explore__container--cards__card--second {
  position: relative;
}
.explore__container--cards__card--second__video {
  height: 30rem;
  width: 100%;
  overflow: hidden;
}
.explore__container--cards__card--second__video img {
  width: 50rem;
  height: 25.3rem;
  object-fit: cover;
}
.explore__container--cards__card--second__video a {
  font-size: 80px;
  color: #5e6821;
  transition: all 0.25s ease-in-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -80%);
}
.explore__container--cards__card--second__video a:hover {
  opacity: 0.9;
}

.flowering {
  padding: 2% 5%;
}
.flowering__container .flowering__title {
  display: flex;
  justify-content: space-between;
}
.flowering__container .flowering__title--first {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.flowering__container .flowering__title--first p {
  color: gray;
}
.flowering__container .flowering__title--second button {
  cursor: pointer;
  border: none;
  background-color: #5e6821;
  color: white;
  padding: 8px 16px;
  transition: all 0.25s ease-in-out;
}
.flowering__container .flowering__title--second button:hover {
  opacity: 0.9;
}
.flowering__container--cards__card {
  width: 20rem;
  overflow: hidden;
}
.flowering__container--cards__card--img {
  position: relative;
  transition: all 0.25s ease-in-out;
}
.flowering__container--cards__card--img img {
  height: 20rem;
  width: 20rem;
  cursor: pointer;
}
.flowering__container--cards__card:hover .flowering__dropdown {
  position: absolute;
  visibility: visible;
  animation: fadeInFlower 0.5s ease forwards;
}
.flowering__container--cards__card:not(:hover) .flowering__dropdown {
  animation: fadeOutFlower 0.5s ease forwards;
}
.flowering__container--cards__card .flowering__dropdown {
  position: absolute;
  visibility: visible;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  top: 0;
  right: -80px;
}
.flowering__container--cards__card .flowering__dropdown button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: white;
  border: none;
}
.flowering__container--cards__card--content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flowering__container--cards__card--content button {
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  background-color: #5e6821;
  color: white;
  transition: all 0.25s ease-in-out;
}
.flowering__container--cards__card--content button:hover {
  opacity: 0.9;
}
.flowering__container--cards__card--content__price {
  color: #5e6821;
}

@keyframes fadeInFlower {
  from {
    opacity: 0;
    right: -80px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes fadeOutFlower {
  from {
    opacity: 1;
    right: 0;
  }
  to {
    opacity: 0;
    right: -80px;
  }
}
.articles {
  padding: 2% 4%;
}
.articles__container--title {
  font-size: 20px;
  padding-bottom: 2rem;
}
.articles__container--cards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  border-top: 2px solid #5e6821;
  border-bottom: 2px solid #5e6821;
}
.articles__container--cards__card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #e3e3e3;
}
.articles__container--cards__card:hover .articles__container--cards__card--img img {
  transform: scale(1.1);
}
.articles__container--cards__card--img {
  overflow: hidden;
  position: relative;
}
.articles__container--cards__card--img img {
  object-fit: cover;
  height: 15rem;
  width: 22rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.articles__container--cards__card--img__content {
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0px;
  position: absolute;
}
.articles__container--cards__card--img__content--date {
  font-weight: 600;
  text-align: center;
  width: 60px;
  padding: 0 0;
  background-color: white;
}
.articles__container--cards__card--img__content--btn button {
  cursor: pointer;
  border: none;
  background-color: #5e6821;
  color: white;
  padding: 2px 4px;
}
.articles__container--cards__card--content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.articles__container--cards__card--content__information {
  color: gray;
  display: flex;
  gap: 1rem;
}
.articles__container--cards__card--content__information--first {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.articles__container--cards__card--content__information--first .mister {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.articles__container--cards__card--content__information--first .mister:hover {
  opacity: 0.9;
}
.articles__container--cards__card--content__information--first img {
  border-radius: 2rem;
}
.articles__container--cards__card--content__information--second {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.articles__container--cards__card--content__information--second i {
  cursor: pointer;
}
.articles__container--cards__card--content__name {
  font-size: 23px;
  width: 45rem;
}
.articles__container--cards__card--content__name h2 {
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.articles__container--cards__card--content__name h2:hover {
  opacity: 0.8;
}
.articles__container--cards__card--btn {
  display: flex;
  align-self: center;
}
.articles__container--cards__card--btn button {
  width: 10rem;
  cursor: pointer;
  border: none;
  background-color: #5e6821;
  color: white;
  padding: 8px 16px;
}

/*# sourceMappingURL=main.css.map */
